.resturent{
    text-align: center;
    color:rgb(151, 39, 39)
}
h3{
    color: blueviolet;
}
  h5{
    color: rgb(26, 59, 48);
  }


.food {
    border: 1px solid red;
    border-radius: 5px;
}
.food img{
    width: 75%;
}


.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}

    



@media screen and (max-width: 576px) {
    .food {
        background-color: rgb(80, 80, 159);
    }
}

@media screen and (min-width: 576px) and (max-width: 786px) {
    .food {
         background-color: rgb(78, 191, 78);

    }

}

@media screen and (min-width: 768px) and (max-width: 1400px) {
    .food {
        background-color:rgb(146, 82, 92)
    }

}
